<ion-header>
  <ion-navbar color="primary">
    <ion-grid>
      <ion-row >
        <ion-col col-4 >
          <h3>Its Gong Time!</h3>
        </ion-col>
        <ion-col>
          <ion-segment [(ngModel)]="search" color="secondary">
            <ion-segment-button value="words">
              Words
            </ion-segment-button>
            <ion-segment-button value="quotes">
              Quotes
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-navbar>

</ion-header>


<ion-content >

  <div class="gong">
    <img (click)="getmyword()" src="assets/imgs/gong.png"/> 
  </div>

  <ion-card padding color="light">
    <div *ngIf="search=='quotes'">
      <ion-item [innerHTML]="theQuote?.quote"></ion-item>
      <ion-item>
        <ion-avatar item-end [innerHTML]="theQuote?.author">
          <!-- {{ theQuote?.author }} -->
        </ion-avatar>
      </ion-item>
    </div> 
    <div *ngIf="search=='words'" class="words">
        <ion-item>{{ word1 }}</ion-item>
        <ion-item>{{ word2 }}</ion-item>
    </div>
  </ion-card>

</ion-content>
 