page-home {
	img {
		height: 30vh;
		width: auto;
		margin: auto;
		display: block;
	}
	ion-label {
		white-space: normal !important;
		color: #fafafa;
	}
	.words ion-label {
		text-transform: uppercase;
		text-align: center;
		font-style: italic;
	}
	ion-item {
		background-color: transparent !important;
	}
}
